{% extends 'partials/base.html' %}
{% block title %} Calculadora de ART{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            
            {% for message in messages %}
            {% if message%}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}

            <div class="border bg-white p-3">
                <h4>Converter de kg de milho para kg de ART</h4>
                <hr>
                <form method="POST" action="">
                    
                    {% csrf_token %}

                    {{ form|crispy }}

                    <input class="btn btn-success btn-block" type="submit" value="Converter">

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table id="datatablesSimple" class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Data do cálculo</th>
                        <th scope="col">Quantidade de milho (Kg)</th>
                        <th scope="col">Quantidade de ART (Kg)</th>
                        <th scope="col">Volume de etanol absoluto esperado (L)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}

                    <tr>
                        <td>{{item.data}}</td>
                        <td>{{item.quantidade_milho}}</td>
                        <td>{{item.quantidade_art}}</td>
                        <td>{{item.volume_etanol}}</td>
                    </tr>

                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        <!-- Segunda linha: tabela DadosFS -->
        <div class="row my-4">
            <div class="col-md-12">
                <table id="datatablesFS" class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Data do cálculo</th>
                            <th scope="col">Milho moído (ton)</th>
                            <th scope="col">Etanol anidro (m³)</th>
                            <th scope="col">Etanol hidratado (m³)</th>
                            <th scope="col">DDG produzido (ton)</th>
                            <th scope="col">Renda com etanol (R$)</th>
                            <th scope="col">Renda com DDG (R$)</th>
                            <th scope="col">Renda com energia (R$)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in dados_fs %}
                        <tr>
                            <td>{{ item.data|date:"d/m/Y H:i" }}</td>
                            <td>{{ item.milho_moido|floatformat:2 }}</td>
                            <td>{{ item.etanol_anidro_prod|floatformat:2 }}</td>
                            <td>{{ item.etanol_hidratado_prod|floatformat:2 }}</td>
                            <td>{{ item.ddg_produzido|floatformat:2 }}</td>
                            <td>{{ item.renda_etanol|floatformat:2 }}</td>
                            <td>{{ item.renda_ddg|floatformat:2 }}</td>
                            <td>{{ item.renda_energia|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        

</div>



{% endblock %}
