{% extends 'partials/base.html' %}
{% block title %} Calculadora de ART{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            
            {% for message in messages %}
            {% if message%}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}

            <div class="border bg-white p-3">
                <h4>Converter de kg de milho para kg de ART</h4>
                <hr>
                <form method="POST" action="">
                    
                    {% csrf_token %}

                    {{ form|crispy }}

                    <input class="btn btn-success btn-block" type="submit" value="Converter">

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table id="datatablesSimple" class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Data do cálculo</th>
                        <th scope="col">Quantidade de milho em kg</th>
                        <th scope="col">Quantidade de ART em kg</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}

                    <tr>
                        <td>{{item.data}}</td>
                        <td>{{item.quantidade_milho}}</td>
                        <td>{{item.quantidade_art}}</td>
                        
                    </tr>

                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
