{% extends 'partials/base.html' %}
{% block title %} Página Inicial de Simuladores {% endblock %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="container mt-4 text-center">
    <h1 style="color: black;">Série Histórica de Preços</h1>

    {% if error %}
        <div style="color: red;">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="mb-3 p-3">
        <select id="agregacao" class="form-select p-2">
            <option value="semanal">Semanal</option>
            <option value="mensal">Mensal</option>
            <option value="semestral">Semestral</option>
        </select>
        <label style="color: black;" for="agregacao" class="form-label p-2">Agrupar por:</label>
    </div>

    <div style="padding: 20px;">
        <h2 style="color: black;">Histórico de Preços de Etanol</h2>
        <canvas id="graficoEtanol"></canvas>
    </div>

    <div style="padding: 20px;">
        <h2 style="color: black;">Histórico de Preços de Milho</h2>
        <canvas id="graficoMilho"></canvas>
    </div>
</div>


<script type="application/json" id="dados-etanol">{{ datas_etanol_json|safe }}</script>
<script type="application/json" id="precos-etanol">{{ precos_etanol_json|safe }}</script>
<script type="application/json" id="dados-milho">{{ datas_milho_json|safe }}</script>
<script type="application/json" id="precos-milho">{{ precos_milho_json|safe }}</script>

<script src="{% static 'js/graphs/serie_historica.js' %}"></script>

<!-- Seu código que adiciona o evento -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Adicionar o listener para capturar mudanças no select
        document.getElementById("agregacao").addEventListener("change", function() {
            atualizarGraficos();  // Chama a função que atualiza os gráficos
        });
    });
</script>

{% endif %}
{% endblock %}
