<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Informações
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">Preço do etanol sobe 0,10R$     Preço do milho mais baixo dos ultimos 3 meses</h3>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Mais relevantes
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'estatisticas-staff' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Usuários <i class="fas fa-users"></i></h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'estatisticas-produtos' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Simulações recentes <i class="fas fa-box"></i></h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'estatisticas-retirada' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4> Hoje o milho está em alta! <i class="fas fa-shipping-fast"></i></h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>