{% extends 'partials/base.html' %}
{% block title %} CornV{% endblock %}
{% load crispy_forms_tags %}

{% block content%} 

{% if user.is_authenticated and user.is_staff %}

<!-- Topside - widgets de informações -->
{% include 'partials/topnav.html' %}
<!-- End Topside -->

<div class="container-fluid">
    <div class="row my-4">
        <div class="col-12 col-md-6">
            <div class="bg-white p-3 rounded shadow">
                <canvas id="graficoEtanol"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="bg-white p-3 rounded shadow">
                <canvas id="graficoMilho"></canvas>       
            </div>
        </div>
    </div>
</div>

<script>
    function createChart(canvasId, label, labelsData, dataValues, borderColor) {
        var ctx = document.getElementById(canvasId).getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labelsData,
                datasets: [{
                    label: label,
                    data: dataValues.map(preco => parseFloat(preco).toFixed(4)), // Formata os preços
                    borderColor: borderColor,
                    backgroundColor: borderColor.replace("1)", "0.2)"), // Cor com transparência
                    fill: true
                }]
            },
            options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: { title: { display: true, text: 'Data' } },
                        y: { title: { display: true, text: 'Preço (R$)' } }
                    },
                    elements: { line: { tension: 0.3 } }
                },
                plugins: [{
                    beforeDraw: function(chart) {
                        chart.canvas.parentNode.style.height = '400px'; // Define a altura mínima
                    }
}]
        });
    }

    // Criar gráficos dinamicamente
    document.addEventListener("DOMContentLoaded", function () {
        createChart('graficoEtanol', 'Preço do Etanol (R$/L)', {{ datas_etanol|safe }}, {{ precos_etanol|safe }}, 'rgba(75, 192, 192, 1)');
        createChart('graficoMilho', 'Preço do Milho (R$/60kg)', {{ datas_milho|safe }}, {{ precos_milho|safe }}, 'rgba(255, 159, 64, 1)');
    });
</script>

{% else %}
{% include 'estatisticas/staff_index.html' %}
{% endif %}

{% endblock %}
