{% extends 'partials/base.html' %}
{% block title %} Página Inicial{% endblock %}
{% load crispy_forms_tags %}

<!--Block de gráficos-->


{% block content%} 

{% if user.is_authenticated and user.is_staff %}  <!-- user.is_superuser também é um argumento válido. -->


 <!--Topside - widgets de informações-->

 {% include 'partials/topnav.html' %}


 <!--End Topside-->

<div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="graficoEtanol" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="graficoMilho" width="400" height="300"></canvas>       
            </div>
        </div>
    </div>
</div>

<script>
    // Gráfico para Etanol
    var ctxEtanol = document.getElementById('graficoEtanol').getContext('2d');
    var graficoEtanol = new Chart(ctxEtanol, {
        type: 'line',
        data: {
            labels: {{ datas_etanol|safe }},
            datasets: [{
                label: 'Preço do Etanol (R$/L)',
                // Formatar os preços para 3 casas decimais usando toFixed(3)
                data: {{ precos_etanol|safe }}.map(preco => preco.toFixed(4)), // Aqui é onde formatamos os preços
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: { 
                    title: { display: true, text: 'Data' }
                },
                y: { 
                    title: { display: true, text: 'Preço (R$)' }
                }
            }
        }
    });

    // Gráfico para Milho
    var ctxMilho = document.getElementById('graficoMilho').getContext('2d');
    var graficoMilho = new Chart(ctxMilho, {
        type: 'line',
        data: {
            labels: {{ datas_milho|safe }},
            datasets: [{
                label: 'Preço do Milho (R$/60kg)',
                // Formatar os preços para 3 casas decimais usando toFixed(3)
                data: {{ precos_milho|safe }}.map(preco => preco.toFixed(4)), // Aqui é onde formatamos os preços
                borderColor: 'rgba(255, 159, 64, 1)',
                fill: false
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: { 
                    title: { display: true, text: 'Data' }
                },
                y: { 
                    title: { display: true, text: 'Preço (R$)' }
                }
            }
        }
    });
</script>


{% else %}

{% include 'estatisticas/staff_index.html' %}


{% endif %}


{% endblock %}