{% extends 'partials/base.html' %}
{% block title %} CornV{% endblock %}
{% load crispy_forms_tags %}

{% load static%}

{% block content%} 

{% if user.is_authenticated and user.is_staff %}

<!-- Topside - widgets de informações -->
{% include 'partials/topnav.html' %}
<!-- End Topside -->

{% include 'partials/grafs_cards.html' %}


<div class="container-fluid">
    <div class="row my-4">
        <div class="col-12 col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Gráfico trimestral de preços (R$) de etanol hidtratado (L)
                    </div>
                    <div class="card-body"><canvas id="graficoEtanol" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Gráfico trimestral de preços (R$) da saca (60kg) de milho
                </div>
                <div class="card-body"><canvas id="graficoMilho" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/tables.html' %}


<script type="application/json" id="dados-etanol">{{ datas_etanol|safe }}</script>
<script type="application/json" id="precos-etanol">{{ precos_etanol|safe }}</script>
<script type="application/json" id="dados-milho">{{ datas_milho|safe }}</script>
<script type="application/json" id="precos-milho">{{ precos_milho|safe }}</script>

<script src="{% static 'js/graphs/main_graphs.js' %}"></script>

{% else %}
{% include 'estatisticas/staff_index.html' %}
{% endif %}

{% endblock %}
